
<div 
class="flex flex-row" 
(mouseup)="showMarker($event)"
(mouseup)="fixSelection()"
>

    @if (isMakerOpen()) {
        <marker-component 
        [xPosition]="xPosition()"
        [yPosition]="yPosition()"
        (colorMark)="handlerSelected($event)"
        />
    }
    
    <div class="flex flex-col" #text_option>
        <bible-option-component 
        [text_option]="text_option"
        />

        <div>
            @for (chapter of this.bible_services.current_book()?.chapters; track $index) {
               <div class="" elementVisible 
               (visible)="handler_chapter_visibility($index + 1, true)"
               (notVisible)="handler_chapter_visibility($index + 1, false)">

                   <h1 
                    [id]="`${this.bible_services.current_book()?.nr}-${chapter.chapter}`"
                    #chap_header
                    class="font-bold text-center my-2"
                    [style.fontSize.px]="fontSettingsServices.font_size() * 1.5"
                    >{{chapter?.name}}</h1>
    
                @for (verse of chapter?.verses; track $index) {
                    <p 
                    [id]="`${this.bible_services.current_book()?.nr}-${chapter.chapter}-${verse.verse}`"
                    #versiculo 
                    [style.fontSize.px]="fontSettingsServices.font_size()"
                    [class.inline]="fontSettingsServices.is_inline()"
                    >
                        <sup class="font-bold z-0">
                            {{$index + 1}}
                        </sup>
                        <span class="flex-1">
                            {{verse.text}}
                        </span> 
                    </p>
            }
            </div>
        }
        </div>

    </div>
</div>
