<div class="fixed bg-transparent w-screen h-screen top-0 left-0 cursor-default z-50"
(click)="this.folder_services.close_folder_option()"
>
    
<div 
class="absolute dark-bg light-bg border rounded-lg whitespace-nowrap overflow-visible z-50
shadow-md"
[style.left.px]="this.folder_services.x_position()"
[style.top.px]="this.folder_services.y_position()"
>
<!-- (mouseleave)="this.folder_services.close_folder_option()" -->

    <p class="hover:dark:bg-gray-700 cursor-pointer py-2 px-2 rounded-t-lg"
    >
        {{folder_lang?.create_new_folder}}
    </p>
    <p class="hover:dark:bg-gray-700 cursor-pointer py-2 px-2"
    >
        {{folder_lang?.create_new_note}}
    </p>
    <p class="hover:dark:bg-gray-700 cursor-pointer py-2 px-2"
    >
        {{folder_lang?.change_name}}
    </p>
    <p class="hover:dark:bg-gray-700 cursor-pointer py-2 px-2 rounded-b-lg"
    >
        {{folder_lang?.delete}}
    </p>

</div>

</div>