    
    <div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">

        <div class="dark-bg light-bg rounded-md grid grid-rows-12 w-5/6 h-5/6"
        >
            <textarea #title_area
            (input)="changeHandler(true)"
            [value]="note().title"
            class="light-bg dark-bg border-b-2 font-bold px-4">
            </textarea>
            
            <textarea #text_area
            [value]="note().text" 
            (input)="changeHandler(false)"
            class="grid row-span-10 overflow-x-auto overflow-y-scroll border-none px-2">
            </textarea>

            <button (click)="openDialog(-1)">Cerrar</button>
        </div>

    </div>