<main class="h-screen flex flex-col select-none"
>
<!-- [class.select-none]="this.settings_services.enabled_extended_sidebar_rezising()" -->

 @if (loading()) {

  <spin-component class="h-full"/>

  } @else {
   <div class="flex flex-col h-full">

    <topbar-component class="sticky top-0 z-10"/>
    
    <div class="flex flex-row flex-1 overflow-hidden">
      <sidebar-component class="sticky top-0 h-full overflow-y-visible"/>
      
      <div class="flex-1 overflow-y-auto dark:bg-gray-800 dark:border-black/0
       dark:text-white p-4 xl:px-16 xl:py-8 w-full scrollbar-hidden">
        <router-outlet />
      </div>

    </div>
  </div>

 }

</main>
