<main class="h-screen flex flex-col"
>
<!-- [class.select-none]="this.settings_services.enabled_extended_sidebar_rezising()" -->

 @if (loading()) {

  <spin-component class="h-full"/>

  } @else {
   <div class="flex flex-col h-full">

    <topbar-component class="sticky top-0 z-10"/>
    
    <div class="flex flex-row flex-1 overflow-hidden">
      <sidebar-component class="sticky top-0 h-full overflow-y-visible"/>

      
      <div class="flex-1 overflow-y-auto dark:bg-gray-800 dark:border-black/0
       dark:text-white px-4 xl:px-16 w-full scrollbar-hidden">
        <router-outlet />
      </div>

      <!-- <div class="sticky flex flex-col right-0 items-center justify-center pr-2">
        <a href="#" class="border"> Row </a>
        <a href="#" class="border"> Lineal </a>
    </div> -->
    </div>
  </div>

 }

</main>
